[basics]
toolkit_root_dir =
result_save_dir =
database_path =
error_save_dir = 
output_save_dir =

[executables]
lammps_executable =
tleap_executable =
amber2lammps =

[twilio]
phone_number =
twilio_sid =
twilio_token =
twilio_virtual_number =

[slurm]
partition_list =
default_partition =
special_partition_prefix =

[email]
email_server = imap.gmail.com
email_account_name =
email_account_pwd =
email_address =

[job_daemon]
daemon_root_dir = '/'
daemon_tmp_dir = '/tmp/'
daemon_log_file = ${daemon_tmp_dir}LDaemon.log
